# Requirements that can't be expressed in setup.py
-c https://raw.githubusercontent.com/apache/airflow/constraints-2.7.1/constraints-3.9.txt
wheel==0.45.1
apache-airflow==3.0.0rc2
flake8==5.0.4

-e .[test]
